@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<div class="cat-container">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success"><i class="bi bi-file-earmark-plus"></i> &nbsp; Create new Category</a>
        </div>
    </div>
    <br />
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Display Order
                </th>
                <th>
                    Creation Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td class="" width="23%">
                        @obj.Name
                    </td>
                    <td class="" width="23%">
                        @obj.DisplayOrder
                    </td>
                    <td class="" width="24%">
                        @obj.CreationTime.ToString("dd.MM.yyyy")
                    </td>
                    <td class="" width="9%">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-info"><i class="bi bi-pen"></i> &nbsp; Edit</a>
                    </td>
                    <td class="" width="11%">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash3"></i> &nbsp; Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>